# === AWS CDK ===
aws-cdk-lib==2.213.0
aws-cdk.aws-lambda-python-alpha==2.213.0a0
constructs==10.3.0

# === AWS SDK ===
boto3==1.40.21
botocore==1.40.21   # opcional, pero recomendado fijar versión

# === Web API ===
fastapi==0.116.1
uvicorn==0.35.0

# === Configuración ===
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1

# === Agents (tu core) ===
strands-agents==1.6.0
strands-agents-tools==0.2.5

